.venv/
__pycache__/
*.py[cod]
*:Zone.Identifier

data/raw/*.csv
data/processed/*
!data/processed/.gitkeep

external/*.py
!external/.gitkeep

models/*.joblib
!models/.gitkeep

results/*
!results/.gitkeep

plots/*
!plots/.gitkeep

relatorio/*.pdf
!relatorio/.gitkeep

entrega/
